.couleur-bouton
{
    background-color: #8B6914;
}
.couleur-bouton0:hover
{
    background-color: #f9f2ea;
}
.couleur-bouton:hover
{
    background-color: #7A5c12;
}
.couleur-fond
{
    background-color: #FAF7F2;
}
.text-couleur
{
    color:#8B6914;
}